.emptyDiv {
    padding-bottom: 60px;
}

.primDiv{
    max-height: 100vh;
}

#firstP {
    display: flex;
    justify-content: center;
}

h2.centeredTextA {
    padding-top: 20px;
}

h3.centeredTextA {
    font-weight: 200;
}

p.centeredText {
    text-align: justify;
    text-align-last: center;
    max-width: 600px;
}

.aboutHeadings {
    text-align: justify;
    margin-right: 20px;
}

.txt {
    display: flex;
    justify-content: space-between; /* Optional: Adds some space between the heading and the paragraph */
    align-items: flex-start; /* Optional: Aligns the heading and the paragraph to the top of the div */
    margin-bottom: 20px; /* Optional: Adds some space below each section */
}

.bodyA {
    transition: opacity 0.3s ease-in-out;
}

.centeredTextA {
    text-align: center;
    margin-top: 20px; /* Adjust this value as needed */
}

.centeredTextA.large {
    margin-bottom: 0;
    font-size: 3em; /* Adjust this value as needed */
    transition: font-size 0.3s ease-in-out;
}
  
.centeredTextA.small {
    margin-bottom: 0;
    font-size: 2em; /* Adjust this value as needed */
    transition: font-size 0.3s ease-in-out;
}

.centeredTextA.large2 {
    margin-bottom: 15px;
    font-size: 2em; /* Adjust this value as needed */
    transition: font-size 0.3s ease-in-out;
}
  
.centeredTextA.small2 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.25em; /* Adjust this value as needed */
    transition: font-size 0.3s ease-in-out;
}
  
.bodyA.hidden {
    opacity: 0;
    padding-bottom: 20vh;
}
  
.bodyA.visible {
    opacity: 1;
    padding-bottom: 20vh;
}

.scrollText {
    margin: 0;
    transition: opacity 0.3s ease-in-out;
}

.scrollText.hidden {
    opacity: 0;
}

.scrollText.visible {
    opacity: 1;
}