@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
    height: 100vh;
}

.centeredText {
    text-align: center;
}

#timeDiv {
    padding-bottom: 20px;
}

.myHeadshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 25px;
}

.socials {
    display: inline;
}

img.socials {
    width: 50px;
    height: 50px;
    padding: 0px 10px;
}

#socialDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailText {
    display: inline;
    padding: 5px 15px;
}

#emailDiv {
    padding: 15px 0px;
}

.emailItem1, .emailItem2 {
    display: inline;
    padding: 5px 15px;
    cursor: pointer;
}

.emailItem1 {
    display: inline-block;
    padding: 5px 25px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: #fff solid 0.5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.emailItem1:hover {
    background-color: #242424;
    border-color: #fff;
    color: #fff;
}

.emailItem2 {
    display: inline-block;
    padding: 5px 25px;
    background-color: #242424;
    color: #fff;
    border-radius: 5px;
    border: #fff solid 0.5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.emailItem2:hover {
    background-color: #fff;
    color: #000;
}

.centerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

#coordinatesDiv, #timeDiv {
    fill: #fff;
    text-align: center;
}

#title {
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 10px;
}

#profession {
    font-style: italic;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 20px;
}