.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials {
    display: inline;
    padding: 0px 10px;
}

#timeDiv {
    padding-bottom: 25px;
}

.myHeadshot {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 25px;
}

.centeredText {
    text-align: center;
}