.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centeredText {
    text-align: center;
}

#timeDiv {
    padding-bottom: 20px;
}

.myHeadshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 25px;
}

.socials {
    display: inline;
}

img.socials {
    width: 50px;
    height: 50px;
    padding: 0px 10px;
}

#socialDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailText {
    display: inline;
    padding: 5px 15px;
}

#emailDiv {
    padding: 15px 0px;
}

.emailItem1, .emailItem2 {
    display: inline;
    padding: 5px 15px;
    cursor: pointer;
}

.emailItem1 {
    display: inline-block;
    padding: 5px 25px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: #fff solid 0.5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.emailItem1:hover {
    background-color: #242424;
    color: #fff;
}

.emailItem2 {
    display: inline-block;
    padding: 5px 25px;
    background-color: #242424;
    color: #fff;
    border-radius: 5px;
    border: #fff solid 0.5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.emailItem2:hover {
    background-color: #fff;
    color: #000;
}

#coordinatesDiv, #timeDiv {
    fill: #fff;
    text-align: center;
}