.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials {
    display: inline;
}

#socialDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(20%);
}

#timeDiv {
    padding-bottom: 20px;
}

.myHeadshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 25px;
}

.centeredText {
    text-align: center;
}