.Toastify__close-button {
    color: white;
}

.Toastify__toast {
    background-color: #242424;
    color: white;
    border-radius: 10px;
    border: 1px white solid;
    padding: 10px;
    min-height: unset;
    width: auto;
}

.Toastify__toast-body {
    margin: 0;
    padding: 0;
}

.Toastify__progress-bar {
    background: white;
}